@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: #0c0f14;
}
body header {
  user-select: none;
}
body .page-content {
  width: 100%;
  height: 100%;
}
body .page-content .profile-page {
  position: relative;
  height: 100%;
  width: 100vw;
  max-width: 750px;
  padding: 0.5em 1em 0.5em 1em;
}
body .page-content .profile-page .toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5em;
  padding: 0 0 0.5em 0;
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
}
body .page-content .profile-page .toolbar .toolbar-profile-content {
  display: inline-flex;
  height: 100%;
  width: 4em;
  justify-content: space-between;
}
body .page-content .profile-page .toolbar .toolbar-items {
  display: inline-flex;
  width: 100%;
  align-items: center;
}
body .page-content .profile-page .toolbar .toolbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
}
body .page-content .profile-page .toolbar .toolbar-item .item-icon {
  width: 80%;
  height: 80%;
  filter: invert(1);
  cursor: pointer;
}
body .page-content .profile-page .user-info-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.1em;
}
body .page-content .profile-page .user-info-content .first-line {
  display: flex;
  width: 100%;
  align-items: center;
}
body .page-content .profile-page .user-info-content .first-line .profile-pic-content {
  display: flex;
  flex-shrink: 0;
  width: 5.5em;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  transition: 1s;
  background: none;
  border-radius: 100%;
  user-select: none;
  pointer-events: none;
}
body .page-content .profile-page .user-info-content .first-line .profile-pic-content .pic-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 0;
  padding: 0.2em;
  border-radius: 100%;
  background-color: #0c0f14;
}
body .page-content .profile-page .user-info-content .first-line .profile-pic-content .pic-wrapper .profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 1;
  background-size: cover;
  background-color: gray;
}
body .page-content .profile-page .user-info-content .first-line .profile-statistics-content {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 12px;
  width: 100%;
  justify-content: space-around;
}
body .page-content .profile-page .user-info-content .first-line .profile-statistics-content .counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .page-content .profile-page .user-info-content .first-line .profile-statistics-content .counter h3 {
  font-size: 16px;
  margin-bottom: 0.1em;
}
body .page-content .profile-page .user-info-content .second-line {
  display: grid;
  margin-top: 0.5em;
  font-size: 12px;
}
body .page-content .profile-page .user-info-content .second-line .textual-content .profile-biography {
  width: 10em;
  position: relative;
}
body .page-content .profile-page .user-info-content .second-line .textual-content .profile-biography .biography-text {
  display: block;
  width: 100%;
}
body .page-content .profile-page .profile-buttons-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5em;
}
body .page-content .profile-page .profile-buttons-content .profile-button {
  width: 49%;
  padding: 0.7em;
  border: none;
  border-radius: 8px;
  background-color: #262626;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}
body .page-content .profile-page .profile-highlights-content {
  display: flex;
  margin-top: 1em;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: smooth;
}
body .page-content .profile-page .profile-highlights-content .highlight-items {
  display: flex;
  list-style-type: none;
}
body .page-content .profile-page .profile-highlights-content .highlight-items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: 5em;
  padding: 0.1em;
  cursor: move;
}
body .page-content .profile-page .profile-highlights-content .highlight-items .item.ghost {
  opacity: 0.5;
  border: dashed white 1px;
  border-radius: 8px;
}
body .page-content .profile-page .profile-highlights-content .highlight-items .item .highlight-pic-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  border: solid #393937 2.5px;
  border-radius: 100%;
}
body .page-content .profile-page .profile-highlights-content .highlight-items .item .highlight-pic-content .highlight-pic {
  width: 90%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-size: cover;
  background-color: blue;
}
body .page-content .profile-page .profile-highlights-content .highlight-items .item .highlight-text-content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.3em;
  font-size: 10px;
}
body .page-content .profile-page .profile-highlights-content .new-highlight-content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 4.5em;
  padding: 0.1em;
  user-select: none;
  cursor: pointer;
}
body .page-content .profile-page .profile-highlights-content .new-highlight-content .new-highlight-sign {
  width: 100%;
  aspect-ratio: 1;
  border: solid white 1px;
  border-radius: 100%;
  pointer-events: none;
}
body .page-content .profile-page .profile-highlights-content .new-highlight-content .new-highlight-sign .new-highlight-symbol {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
body .page-content .profile-page .profile-highlights-content .new-highlight-content .new-highlight-sign .new-highlight-symbol span {
  font-size: 28px;
  font-weight: 300;
}
body .page-content .profile-page .profile-highlights-content .new-highlight-content .highlight-text-content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.3em;
  font-size: 12px;
  pointer-events: none;
}
body .page-content .profile-page .profile-publications-content {
  display: flex;
  flex-direction: column;
}
body .page-content .profile-page .profile-publications-content .publications-option-handler {
  display: inline-flex;
  justify-content: space-around;
  margin: 2em 0 0.1em 0;
  width: 100%;
}
body .page-content .profile-page .profile-publications-content .publications-option-handler .option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 1.8em;
  border: none;
  background: none;
}
body .page-content .profile-page .profile-publications-content .publications-option-handler .option:focus {
  border-bottom: solid white 1px;
}
body .page-content .profile-page .profile-publications-content .publications-option-handler .option .option-icon {
  width: 90%;
  aspect-ratio: 1;
  background-size: contain;
}
body .page-content .profile-page .profile-publications-content .publications-page {
  width: 100%;
  height: 5em;
  background-color: pink;
}
body .page-content .popup-content {
  z-index: 99;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
body .page-content .popup-content.hidden {
  display: none;
}
body .page-content .popup-content .popup-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0c0f14;
  opacity: 70%;
}
body .page-content .popup-content .popup-page {
  z-index: 100;
  padding: 0.5em;
  user-select: none;
  max-width: 750px;
}
body .page-content .popup-content .popup-page.edit-profile-page {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: #0c0f14;
}
body .page-content .popup-content .popup-page.edit-profile-page .toolbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5em;
  padding: 0 0 0.5em 0;
}
body .page-content .popup-content .popup-page.edit-profile-page .toolbar .toolbar-items {
  display: inline-flex;
  width: 100%;
  align-items: center;
}
body .page-content .popup-content .popup-page.edit-profile-page .toolbar .toolbar-items .back-button {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}
body .page-content .popup-content .popup-page.edit-profile-page .toolbar .toolbar-items .header-text {
  font-size: 17px;
  margin-left: 2.5em;
  font-weight: 500;
}
body .page-content .popup-content .popup-page.edit-profile-page .toolbar .toolbar-items .save-modification-container {
  position: absolute;
  right: 0;
  width: 2em;
  aspect-ratio: 1;
  background: none;
  border: none;
  cursor: pointer;
}
body .page-content .popup-content .popup-page.edit-profile-page .toolbar .toolbar-items .save-modification-container .save-icon {
  width: 100%;
  height: 100%;
}
body .page-content .popup-content .popup-page.edit-profile-page .toolbar .toolbar-items .save-modification-container.disabled {
  filter: grayscale(1);
  opacity: 40%;
  cursor: auto;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-picture-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-picture-content .picture-and-avatar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 11em;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-picture-content .picture-and-avatar-container .editable-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2em;
  aspect-ratio: 1;
  border: solid white 1px;
  border-radius: 100%;
  overflow: hidden;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-picture-content .picture-and-avatar-container .editable-picture-container.profile {
  cursor: pointer;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-picture-content .picture-and-avatar-container .editable-picture-container .actual-picture {
  width: 100%;
  height: 100%;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-picture-content .change-picture-text {
  display: flex;
  justify-content: center;
  margin: 1.5em 0 0.5em 0;
  font-size: 13px;
  font-weight: 500;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.5em 0 0.5em;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .inputs-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .inputs-content .input-content {
  position: relative;
  margin-top: 0.5em;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .inputs-content .input-content .custom-placeholder {
  display: flex;
  position: absolute;
  height: 100%;
  align-items: center;
  margin-left: 1em;
  font-size: 13px;
  transition: 0.5s;
  pointer-events: none;
  color: #a0a3a8;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .inputs-content .input-content .change-input {
  width: 100%;
  height: 56px;
  padding: 1.2em 1em 0 1em;
  font-size: 14px;
  background: none;
  border-style: none;
  border: solid #282b30 1px;
  border-radius: 12px;
  outline-style: none;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .inputs-content .input-content.biography-input-content .biography-input {
  display: flex;
  height: auto;
  padding: 1.5em 1em 0 1em;
  margin: 0;
  resize: none;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .inputs-content .input-content.biography-input-content .limit-counter {
  display: flex;
  position: absolute;
  height: 100%;
  align-items: flex-end;
  margin: 0 5px 5px 0;
  right: 0;
  bottom: 0;
  font-size: 12px;
  transition: 0.5s;
  pointer-events: none;
  color: #a0a3a8;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .extra-information .insert-link-content .insert-link-button {
  background: none;
  border: none;
  margin-bottom: 1em;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .extra-information .dropdown {
  width: 100%;
  position: relative;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .extra-information .dropdown .dropdown-button {
  display: flex;
  width: 100%;
  height: 36px;
  padding-left: 0.5em;
  align-items: center;
  font-size: 10px;
  background: none;
  border-style: none;
  border: solid #282b30 1px;
  border-radius: 8px;
  outline-style: none;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .extra-information .dropdown .dropdown-button:hover {
  background-color: #11151d;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .extra-information .dropdown .dropdown-content {
  display: none;
  position: absolute;
  font-size: 10px;
  background-color: #12171f;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .extra-information .dropdown .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .extra-information .dropdown .dropdown-content a:hover {
  background-color: #282b30;
}
body .page-content .popup-content .popup-page.edit-profile-page .editables-container .change-information-content .extra-information .dropdown .dropdown-content.show {
  display: block;
}
body .page-content .popup-content .popup-page.menu {
  position: absolute;
  display: flex;
  width: 90%;
  bottom: 0;
  background-color: #262626;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body .page-content .popup-content .popup-page.menu .options-container {
  width: 100%;
  height: 5em;
  transition: 0.3s;
}
body .page-content .popup-content .popup-page.menu .options-container .border-choose-content label {
  font-size: 12px;
}
body .page-content .popup-content .popup-page.menu .options-container .border-choose-content .border-choose {
  display: flex;
  width: 100%;
  padding: 0.5em;
  margin-top: 0.1em;
  background: none;
  border: solid #393937 1px;
  border-radius: 5px;
}
body .page-content .popup-content .popup-page.menu .options-container .border-choose-content.dropdown {
  width: 100%;
  position: relative;
}
body .page-content .popup-content .popup-page.menu .options-container .border-choose-content.dropdown .dropdown-button {
  display: flex;
  width: 100%;
  height: 36px;
  padding-left: 0.5em;
  align-items: center;
  font-size: 12px;
  background: none;
  border-style: none;
  border: solid #393937 1px;
  border-radius: 8px;
  outline-style: none;
}
body .page-content .popup-content .popup-page.menu .options-container .border-choose-content.dropdown .dropdown-button:hover {
  background-color: #252933;
}
body .page-content .popup-content .popup-page.menu .options-container .border-choose-content.dropdown .dropdown-content {
  display: none;
  position: absolute;
  font-size: 10px;
  background-color: #12171f;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}
body .page-content .popup-content .popup-page.menu .options-container .border-choose-content.dropdown .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
body .page-content .popup-content .popup-page.menu .options-container .border-choose-content.dropdown .dropdown-content a:hover {
  background-color: #282b30;
}
body .page-content .popup-content .popup-page.menu .options-container .border-choose-content.dropdown .dropdown-content.show {
  display: block;
}
body .page-content .popup-content .popup-page.highlights {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: #0c0f14;
}
body .page-content .popup-content .popup-page.highlights .toolbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5em;
  padding: 0 0 0.5em 0;
}
body .page-content .popup-content .popup-page.highlights .toolbar .toolbar-items {
  display: inline-flex;
  width: 100%;
  align-items: center;
}
body .page-content .popup-content .popup-page.highlights .toolbar .toolbar-items .back-button {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}
body .page-content .popup-content .popup-page.highlights .toolbar .toolbar-items .header-text {
  font-size: 17px;
  margin-left: 2.5em;
  font-weight: 500;
}
body .page-content .popup-content .popup-page.highlights .toolbar .toolbar-items .save-creation-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.8em;
  aspect-ratio: 1;
  background: none;
  border: none;
  cursor: pointer;
}
body .page-content .popup-content .popup-page.highlights .toolbar .toolbar-items .save-creation-container .save-icon {
  width: 100%;
  height: 100%;
}
body .page-content .popup-content .popup-page.highlights .toolbar .toolbar-items .save-creation-container.disabled {
  filter: grayscale(1);
  opacity: 40%;
  cursor: auto;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .manage-highlight-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1em;
  justify-items: center;
  list-style-type: none;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .manage-highlight-items .mockup-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4em;
  transition: 1s;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .manage-highlight-items .mockup-item.hidden {
  opacity: 40%;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .manage-highlight-items .mockup-item .highlight-pic-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5em;
  height: 3.5em;
  padding: 0.15em;
  border: solid #393937 2px;
  border-radius: 100%;
  cursor: pointer;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .manage-highlight-items .mockup-item .highlight-pic-content .hide-highlight {
  display: flex;
  position: absolute;
  width: 22px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  top: 0em;
  right: -0.3em;
  background: #0c0f14;
  border-radius: 100%;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .manage-highlight-items .mockup-item .highlight-pic-content .hide-highlight i {
  display: flex;
  position: absolute;
  justify-content: center;
  --ggs: .6;
  width: 120%;
  color: white;
  font-size: 30px;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .manage-highlight-items .mockup-item .highlight-pic-content .hide-highlight i.off {
  display: none;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .manage-highlight-items .mockup-item .highlight-pic-content .hide-highlight i.gg-border-style-solid {
  --ggs: .49;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .manage-highlight-items .mockup-item .highlight-pic-content .highlight-pic {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #262626;
  background-size: cover;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .manage-highlight-items .mockup-item .highlight-text-content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.3em;
  font-size: 10px;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .new-highlight-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .new-highlight-content .new-highlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;
  width: fit-content;
  padding: 0.1em;
  cursor: pointer;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .new-highlight-content .new-highlight .new-highlight-sign {
  width: 100%;
  aspect-ratio: 1;
  border: solid white 1px;
  border-radius: 100%;
  pointer-events: none;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .new-highlight-content .new-highlight .new-highlight-sign .new-highlight-symbol {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .new-highlight-content .new-highlight .new-highlight-sign .new-highlight-symbol span {
  font-size: 28px;
  font-weight: 300;
}
body .page-content .popup-content .popup-page.highlights .highlights-content .new-highlight-content .new-highlight .highlight-text-content {
  display: flex;
  justify-content: center;
  width: max-content;
  margin-top: 1em;
  font-size: 15px;
  pointer-events: none;
}
body .page-content .popup-content .popup-page.highlights .create-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .space-close {
  top: -10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page {
  position: relative;
  width: 350px;
  z-index: 1;
  padding: 0.5em;
  background-color: #262626;
  border-radius: 10px;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .close-button-container {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .close-button-container .close-button {
  background: none;
  border: none;
  font-size: 15px;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space {
  position: relative;
  display: grid;
  justify-items: center;
  width: 100%;
  margin-top: 1em;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .highlight-demo label {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .highlight-demo input {
  visibility: hidden;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .highlight-demo .manage-hg-pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  aspect-ratio: 1;
  border-radius: 100%;
  border: solid #393937 4px;
  pointer-events: none;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .highlight-demo .manage-hg-pic .edit-pic-container {
  position: absolute;
  display: flex;
  width: 3em;
  aspect-ratio: 1;
  z-index: 1;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #262626;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .highlight-demo .manage-hg-pic .edit-pic-container .edit-pic {
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 100%;
  background-color: white;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .highlight-demo .manage-hg-pic .edit-pic-container .edit-pic i {
  color: #262626;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .highlight-demo .manage-hg-pic .hg-pic-container {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: gray;
  border-radius: 100%;
  overflow: hidden;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .highlight-demo .manage-hg-pic .hg-pic-container img {
  width: 100%;
  height: max-content;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .highlight-demo .manage-hg-text {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  width: 100%;
  margin-top: 0.5em;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .highlight-demo .manage-hg-text .hg-text-container {
  display: flex;
  justify-content: center;
  font-size: 21px;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .entry-content {
  width: 100%;
  height: 3em;
  margin-top: 2em;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .entry-content .input-items .input-content {
  position: relative;
  margin-top: 0.5em;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .entry-content .input-items .input-content .custom-placeholder {
  display: flex;
  position: absolute;
  height: 100%;
  align-items: center;
  margin-left: 1em;
  font-size: 9px;
  transition: 0.5s;
  pointer-events: none;
  color: #a0a3a8;
}
body .page-content .popup-content .popup-page.highlights .create-highlight .create-hg-page .creation-space .entry-content .input-items input {
  width: 100%;
  height: 36px;
  padding: 1em 1em 0 1em;
  font-size: 10px;
  background: none;
  border-style: none;
  border: solid #5f6268 1px;
  border-radius: 8px;
  outline-style: none;
}
body .page-content .popup-content .popup-page.highlights .hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
