@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: white;
$background-color: #0c0f14;
$button-background: #262626;
$border-color: #393937;
$popup-background: #262626;

$highlight-border: white;
$highlight-color: blue;
$new-story-border: linear-gradient(to right, yellow, rgb(255, 168, 29), red, rgb(160, 0, 160));
$cf-border: #1cd150;


$dropdown-background: #12171f;
$dropdown-hover: #282b30;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary-color;
  font-family: 'Roboto', sans-serif;

  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: $background-color;

  header {
    user-select: none;
  }

  .page-content {
    width: 100%;
    height: 100%;

    .pub-menu-container{
      position: absolute;
      display: none;
      z-index: 101;

      .pub-menu-dropdown{
        position: absolute;
    
        font-size: 12px;
        background-color: #12171f;
        z-index: 1;
        border-radius: 5px;
        overflow: hidden;

        a{
          display: block;
          padding: 12px;
          text-decoration: none;

          span{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 5em;
          }

          &:hover{
              background-color: #282b30;
          }
        }

        &.show{
            display: flex;
        }
      }
    }

    .profile-page {
      position: relative;
      height: 100%;
      width: 100vw;

      max-width: 750px;
      padding: .5em 1em .5em 1em;

      .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 2.5em;
        padding: 0 0 .5em 0;
        margin-bottom: .2em;
        font-weight: 500;
        font-size: 17px;

        user-select: none;

        .toolbar-profile-content {
          display: inline-flex;
          height: 100%;
          width: 4em;
          justify-content: space-between;
        }

        .toolbar-items {
          display: inline-flex;
          width: 100%;
          align-items: center;
        }

        .toolbar-item {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          aspect-ratio: 1;

          label{
            display: flex;
            width: 100%;
            height: 100%;

            cursor: pointer;
          }

          .item-icon {
            width: 80%;
            height: 80%;

            filter: invert(1);
            cursor: pointer;

          }
        }
      }

      .user-info-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: .1em;

        .first-line {
          display: flex;
          width: 100%;
          align-items: center;

          .profile-pic-content {
            display: flex;
            flex-shrink: 0;
            width: 5.5em;
            aspect-ratio: 1;
            justify-content: center;
            align-items: center;
            padding: .2em;

            transition: 1s;
            background: none;
            border-radius: 100%;

            user-select: none;
            pointer-events: none;

            .pic-wrapper {
              display: flex;
              width: 100%;
              height: 100%;
              justify-content: center;
              align-items: center;
              z-index: 0;

              padding: .2em;
              border-radius: 100%;
              background-color: $background-color;

              .profile-pic {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                z-index: 1;

                background-size: cover;
                background-color: gray;
              }
            }
          }

          .profile-statistics-content {
            display: flex;
            height: 100%;
            align-items: center;
            font-size: 12px;
            width: 100%;
            justify-content: space-around;

            .counter {
              display: flex;
              
              flex-direction: column;
              align-items: center;

              h3{
                font-size: 16px;
                margin-bottom: .1em;
              }

            }
          }
        }

        .second-line {
          display: grid;
          margin-top: .5em;
          font-size: 12px;

          .textual-content {
            .name.profile-name-container {
              .profile-name-text {
                h3 {
                }
              }
            }

            .profile-biography {
              width: 10em;
              position: relative;

              .biography-text {
                display: block;
                width: 100%;
              }
            }
          }
        }
      }

      .profile-buttons-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: .5em;

        .profile-button {
          width: 49%;
          padding: .7em;

          border: none;
          border-radius: 8px;
          background-color: $button-background;
          font-size: 13px;
          font-weight: 500;
          cursor: pointer;
          user-select: none;
        }
      }

      .profile-highlights-content {
        display: flex;
        margin-top: 1em;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        scroll-behavior: smooth;

        .highlight-items{
          display: flex;
          list-style-type: none;

          .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 6em;
            padding: .1em;

            cursor: move;
  
            &.ghost{
              opacity: 0.5;

              border: dashed white 1px;
              border-radius: 8px;
            }

            .highlight-pic-content {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 4.5em;
              aspect-ratio: 1;

              border: solid $border-color 2.5px;
              border-radius: 100%;
  
              .highlight-pic {
                width: 90%;
                aspect-ratio: 1;
                border-radius: 100%;
                background-size: cover;
                background-color: $highlight-color;
              }
            }
  
            .highlight-text-content {
              display: flex;
              justify-content: center;
              width: 100%;
              margin-top: .3em;
              font-size: 12px;
            }
          }
        }

        .new-highlight-content{
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          justify-content: center;
          width: 5em;
          padding: .1em;
          margin-left: 1em;

          user-select: none;
          cursor: pointer;

          .new-highlight-sign{
            width: 100%;
            aspect-ratio: 1;
            border: solid $highlight-border 1px;
            border-radius: 100%;

            pointer-events: none;

            .new-highlight-symbol{
              display: flex;
              width: 100%;
              height: 100%;
              justify-content: center;
              align-items: center;

              span{
                font-size: 28px;
                font-weight: 300;
              }
            }
          }

          .highlight-text-content {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: .3em;
            
            font-size: 12px;
            pointer-events: none;
          }
        }
      }

      .profile-publications-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: .5em;

        .publications-option-handler {
          display: inline-flex;
          justify-content: space-around;
          margin: 2em 0 0 0;
          padding-bottom: .1em;
          width: 100vw;
          max-width: 750px;

          border-bottom: solid 1px #161616;

          .option {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 1.8em;
            border: none;
            background: none;
            padding-bottom: 1em;

            &:focus {
              border-bottom: solid $primary-color 1px;
            }

            .option-icon {
              width: 90%;
              aspect-ratio: 1;
              background-size: contain;
            }
          }
        }

        .publications-page {
          position: relative;
          display: flex;
          justify-content: center;
          width: 100%;
          
          .publications-items{
            position: absolute;
            padding-top: .15em;
            width: 100vw;
            max-width: 750px;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: .15em;
            row-gap: .15em;

            
            .pub-focus-background{
              display: none;
              position: fixed;
              width: 100vw;
              height: 100vh;
              top: 0;
              left: 0;

              z-index: 99;
              backdrop-filter: blur(10px);
              transition: .5s;

            }

            .pub-container{

              &.ghost{
                opacity: 0.5;
  
                border: dashed white 3px;
                border-radius: 8px;
              }
              .pub-item{
                position: relative;
                width: 100%;
                aspect-ratio: 1;
                background: blue;

                .pub-attachment{
                  position: absolute;
                  right: .7em;
                  top: .7em;
                  width: 1.5em;
                  aspect-ratio: 1;
                  
                  opacity: 90%;
                  background-size: cover;
                  pointer-events: none;

                }

                .pub-picture{
                  width: 100%;
                  height: 100%;

                  background-size: cover;
                  pointer-events: none;
                }
              }

            }
          }
        }
      }
    }

    .popup-content {
    z-index: 99;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &.new-publication-content{
      align-items: center;
    }

    &.hidden {
        display: none;
    }

    .popup-background {
        position: fixed;
        width: 100%;
        height: 100%;

        background-color: $background-color;
        opacity: 70%;
    }

    .popup-page {
        z-index: 100;
        padding: .5em;
        user-select: none;
        max-width: 750px;

        &.new-publication{
          position: fixed;
          display: flex;
          flex-direction: column;

          background: rgba(31, 31, 31, 0.8);
          backdrop-filter: blur(5px);
          box-shadow: black 1px 1px 15px;
          border-radius: 10px;

          .toolbar {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 2.5em;
            padding: 0 1em 0 0;

            .toolbar-items {
            display: inline-flex;
            width: 100%;
            align-items: center;

                /* .back-button {
                    border: none;
                    background: none;
                    font-size: 24px;
                    cursor: pointer;
                } */

                .header-text {
                  font-size: 17px;
                  margin-left: 2em;
                  font-weight: 500;
                }

                .save-creation-container {
                    position: absolute;
                    right: .5em;
                    top: .5em;
                    width: 1.8em;
                    aspect-ratio: 1;
                    background: none;
                    border: none;
                    cursor: pointer;

                        .save-icon {
                            width: 100%;
                            height: 100%;
                        }

                        &.disabled {
                            filter: grayscale(1);
                            opacity: 40%;
                            cursor: auto;
                        }
                }
            }
        }

        .page-content{
          display: flex;

          .publication-image-content{
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;

            .image-attachment{
              position: absolute;
              width: 2em;
              aspect-ratio: 1;
              top: 1em;
              right: 1em;
              
              background-size: cover;

            }

            .publication-image-container{
              display: flex;
              width: 18em;
              aspect-ratio: 1;

              background-color: #353535;

              .publication-image{
                width: 100%;
                height: 100%;
                background-size: cover;
              }
            }
          }

          .config-publication-content{
            height: 100%;
            margin-left: 2em;


            .dropdown{
              width: 100%;
              position: relative;

              .dropdown-button{
                  display: flex;
                  width: 20em;
                  height: 36px;
                  padding-left: .5em;
                  align-items: center;

                  font-size: 12px;
                  background: none;
                  border-style: none;
                  border: solid #282b30 1px;
                  background: rgba(25, 25, 25, 0.7);
                  border-right: none;
                  border-left: none;
                  outline-style: none;

                  span{
                    position: absolute; 
                    right: 1em;
                    pointer-events: none;
                  }

                  &:hover{
                      background-color: #11151d;
                  }
              }

              .dropdown-content{
                  display: none;
                  position: absolute;
              
                  font-size: 10px;
                  background-color: #12171f;
                  z-index: 1;
                  border-radius: 5px;
                  overflow: hidden;

                  a{
                    display: block;
                    padding: 12px;
                    width: 6em;
                    text-decoration: none;

                    span{
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                    }

                    &:hover{
                        background-color: #282b30;
                    }
                  }

                  &.show{
                      display: flex;
                  }

                  img{
                    width: 2em;
                    aspect-ratio: 1;
                    margin-bottom: .5em;

                  }
              }
          }

          }
        }

        }

        &.settings-page {

        }

        &.edit-profile-page {
        margin: auto;
        width: 100%;
        height: 100vh;
        background-color: $background-color;

        .toolbar {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 2.5em;
            padding: 0 1em 0 1em;

            .toolbar-items {
            display: inline-flex;
            width: 100%;
            align-items: center;

                /* .back-button {
                    border: none;
                    background: none;
                    font-size: 24px;
                    cursor: pointer;
                } */

                .header-text {
                    font-size: 17px;
                    margin-left: 2em;
                    font-weight: 500;
                }

                .save-modification-container {
                    position: absolute;
                    right: 0;
                    width: 2em;
                    aspect-ratio: 1;
                    background: none;
                    border: none;
                    cursor: pointer;

                        .save-icon {
                            width: 100%;
                            height: 100%;
                        }

                        &.disabled {
                            filter: grayscale(1);
                            opacity: 40%;
                            cursor: auto;
                        }
                }
            }
        }

        .editables-container {
            margin-top: .5em;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            .change-picture-content {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;

                .picture-and-avatar-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 11em;

                    .editable-picture-container {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 4.2em;
                        
                        aspect-ratio: 1;
                        border: solid $primary-color 1px;
                        border-radius: 100%;
                        overflow: hidden;

                        label{
                          display: flex;
                          width: 100%;
                          height: 100%;
      
                          cursor: pointer;
                        }

                        &.profile{
                          cursor: pointer;
                        }

                        .actual-picture {
                            width: 100%;
                            height: 100%;

                            background-size: cover;
                        }
                    }
                }

                .change-picture-text {
                    display: flex;
                    justify-content: center;
                    margin: 1.5em 0 .5em 0;
                    font-size: 13px;
                    font-weight: 500;
                }
            }

            .change-information-content{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0 .5em 0 .5em;

                .inputs-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 100%;
                    height: fit-content;

                    .input-content{
                        position: relative;
                        margin-top: .5em;
    
                        .custom-placeholder{
                            display: flex;
                            position: absolute;
                            height: 100%;
                            align-items: center;
                            margin-left: 1em;
    
                            font-size: 13px;
                            transition: .5s;
                            pointer-events: none;
                            color: #a0a3a8;
                        }
    
                        .change-input{
                            width: 100%;
                            height: 56px;
                            padding: 1.2em 1em 0 1em;
                        
                            font-size: 14px;
                            background: none;
                            border-style: none;
                            border: solid #282b30 1px;
                            border-radius: 12px;
                            outline-style: none;
    
                        }
                    
                    &.biography-input-content{
                        .biography-input{
                            display: flex;
                            height: auto;
    
                            padding: 1.8em 1em 0 1em;
                            margin: 0;
                            resize: none;
                        }
    
                        .limit-counter{
                            display: flex;
                            position: absolute;
                            height: 100%;
                            align-items: flex-end;
                            margin: 0 5px 5px 0;
                        
                            right: 0;
                            bottom: 0;
                            font-size: 12px;
                            transition: .5s;
                            pointer-events: none;
                            color: #a0a3a8;
                        }
                    }
                    }
                }

                .extra-information{
                    .insert-link-content{
                        .insert-link-button{
                            background: none;
                            border: none;

                            margin-bottom: 1em;

                        }
                    }

                    .dropdown{
                        width: 100%;
                        position: relative;

                        .dropdown-button{
                            display: flex;
                            width: 100%;
                            height: 36px;
                            padding-left: .5em;
                            align-items: center;

                            font-size: 10px;
                            background: none;
                            border-style: none;
                            border: solid #282b30 1px;
                            border-radius: 8px;
                            outline-style: none;

                            &:hover{
                                background-color: #11151d;
                            }
                        }

                        .dropdown-content{
                            display: none;
                            position: absolute;
                        
                            font-size: 10px;
                            background-color: #12171f;
                            z-index: 1;
                            border-radius: 5px;
                            overflow: hidden;

                            a{
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;

                                &:hover{
                                    background-color: #282b30;
                                }
                            }
                            &.show{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        }

        &.menu{
            position: absolute;
            display: flex;
            width: 90%;
            
            bottom: 0;

            background-color: $popup-background;
            border-top-left-radius: 10px ;
            border-top-right-radius: 10px;

            .options-container{
              width: 100%;
              height: 5em;
              transition: .3s;

              .border-choose-content{
                
                label{
                  font-size: 12px;
                }
  
                .border-choose{
                  display: flex;
                  width: 100%;
                  padding: .5em;
                  margin-top: .1em;
  
                  background: none;
                  border: solid $border-color 1px;
                  border-radius: 5px;
                }

                &.dropdown{
                  width: 100%;
                  position: relative;

                  .dropdown-button{
                      display: flex;
                      width: 100%;
                      height: 36px;
                      padding-left: .5em;
                      align-items: center;

                      font-size: 12px;
                      background: none;
                      border-style: none;
                      border: solid $border-color 1px;
                      border-radius: 8px;
                      outline-style: none;

                      &:hover{
                          background-color: #373738;
                      }
                  }

                  .dropdown-content{
                      display: none;
                      position: absolute;
                  
                      font-size: 12px;
                      background-color: #373738;
                      z-index: 1;
                      border-radius: 5px;
                      overflow: hidden;

                      a{
                          padding: 12px 16px;
                          text-decoration: none;
                          display: block;

                          &:hover{
                              background-color: #282b30;
                          }
                      }
                      &.show{
                          display: block;
                      }
                  }
              }
              }
            }
        }

        &.highlights{
          margin: auto;
          width: 100%;
          height: 100vh;
          background-color: $background-color;

          .toolbar {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 2.5em;
            padding: 0 1em 0 1em;

            .toolbar-items {
            display: inline-flex;
            width: 100%;
            align-items: center;

                /* .back-button {
                    border: none;
                    background: none;
                    font-size: 24px;
                    cursor: pointer;
                } */

                .header-text {
                  font-size: 17px;
                  margin-left: 2em;
                  font-weight: 500;
                }

                .save-creation-container {
                    position: absolute;
                    right: .5em;
                    top: .5em;
                    width: 1.8em;
                    aspect-ratio: 1;
                    background: none;
                    border: none;
                    cursor: pointer;

                        .save-icon {
                            width: 100%;
                            height: 100%;
                        }

                        &.disabled {
                            filter: grayscale(1);
                            opacity: 40%;
                            cursor: auto;
                        }
                }
            }
        }

          .highlights-content{

            .manage-highlight-items{
              width: 100%;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              row-gap: 2em;

              justify-items: center;
              list-style-type: none;
    
              .mockup-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 7em;
                padding: .1em;
                  transition: 1s;
    
                &.hidden{
                  opacity: 40%;
                }

                .highlight-pic-content {
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 5em;
                  height: 5em;
                  padding: .15em;
                  
                  border: solid $border-color 2px;
                  border-radius: 100%;
                  cursor: pointer;

                  .hide-highlight{
                    display: flex;
                    position: absolute; 
                    width: 22px;
                    aspect-ratio: 1;
                    justify-content: center;
                    align-items: center;
                    top: 0em;
                    right: -.3em;
                    
                    background: $background-color;
                    border-radius: 100%;

                    i{
                      display: flex;
                      position: absolute;
                      justify-content: center;
                      --ggs: .6;
                      width: 120%;
                      color: white;
                      font-size: 30px;
                    
                      &.off{
                        display: none;
                      }

                      &.gg-border-style-solid{
                        --ggs: .49;
                      }
                    }
                  }
      
                  .highlight-pic {
                    width: 100%;
                    height: 100%;


                    border-radius: 100%;
                    background-color: $popup-background;
                    background-size: cover;
                  }
                }
      
                .highlight-text-content {
                  display: flex;
                  justify-content: center;
                  width: 100%;
                  margin-top: .3em;
                  font-size: 14px;
                }
              }
            }


            .new-highlight-content{
              display: flex;
              width: 100%;
              justify-content: center;
              margin-top: 1rem;

              .new-highlight{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: fit-content;
                padding: .1em;
      
                cursor: pointer;

                .new-highlight-sign{
                  width: 100%;
                  aspect-ratio: 1;
                  border: solid $highlight-border 1px;
                  border-radius: 100%;

                  pointer-events: none;
                  
                  .new-highlight-symbol{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
      
                    span{
                      font-size: 28px;
                      font-weight: 300;
                    }
                  }
                }
      
                .highlight-text-content {
                  display: flex;
                  justify-content: center;
                  width: max-content;
                  margin-top: 1em;
                  
                  font-size: 15px;
                  pointer-events: none;
                }
              }
            }
          }

          .create-highlight{
            display: flex;
            justify-content: center;
            align-items: center;

            .space-close{
              top: -10px;

              border: none;
              background: none;
              font-size: 24px;
              cursor: pointer;
            }

            .create-hg-page{
              position: relative;
              width: 350px;
              z-index: 1;
              padding: .5em;

              background-color: $popup-background;
              border-radius: 10px;

              .close-button-container{
                position: absolute;
                top: .5em;
                right: .5em;

                .close-button{
                  background: none;
                  border: none;
                  
                  font-size: 15px;
                }
              }

              .creation-space{
                position: relative;
                display: grid;
                justify-items: center;
                width: 100%;  
                margin-top: 1em;

                .highlight-demo{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  position: relative;
                  
                  label{
                    display: flex;
                    width: 100%;
                    height: 100%;

                    cursor: pointer;
                  }

                  input{
                    visibility: hidden;

                  }

                  .manage-hg-pic{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 8em;
                    aspect-ratio: 1;
  
                    border-radius: 100%;
                    border: solid $border-color 4px;
                    pointer-events: none;

                    .edit-pic-container{
                      position: absolute;
                      display: flex;
                      width: 3em;
                      aspect-ratio: 1;
                      z-index: 1;
                      top: 0;
                      right: 0;
                      justify-content: center;
                      align-items: center;

                      border-radius: 100%;
                      background-color: $popup-background;

                      .edit-pic{
                        display: flex;
                        width: 80%;
                        height: 80%;
                        justify-content: center;
                        align-items: center;

                        background: none;
                        border: none;
                        border-radius: 100%;
                        background-color: white;

                        i{
                          color: $popup-background;
                        }
                      }
                    }
  
                    .hg-pic-container{
                      position: relative;
                      width: 90%;
                      height: 90%;
  
                      background-color: gray;
                      border-radius: 100%;
                      overflow: hidden;

                      .hg-pic{
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                      }
                    }
                  }

                  .manage-hg-text{
                    display: flex;
                    justify-content: center;
                    left: 0;
                    width: 100%;
                    margin-top: .5em;

                    .hg-text-container{
                      display: flex;
                      justify-content: center;
                      
                      font-size: 21px;
                    }
                  }
                }


                .entry-content{
                  width: 100%;
                  margin-top: 3em;

                  .input-items{

                    .input-content{
                      position: relative;
                      margin-top: .5em;
  
                      .custom-placeholder{
                        display: flex;
                        position: absolute;
                        height: 100%;
                        align-items: center;
                        margin-left: 1em;

                        font-size: 13px;
                        transition: .5s;
                        pointer-events: none;
                        color: #a0a3a8;
                      }

                      input{
                        width: 100%;
                        height: 56px;
                        padding: 1.2em 1em 0 1em;
                    
                        font-size: 14px;
                        background: none;
                        border-style: none;
                        border: solid #282b30 1px;
                        border-radius: 12px;
                        outline-style: none;
                      }
                    }
                  }
                }
              }
            }

          }

          .hidden{
            display: none;
          }
        }
}
}
}
}


@media only screen and (max-width: 599px) {
  body {
    .page-content{
      .popup-content{
        .popup-page{
          &.new-publication{
            .page-content{
              flex-direction: column;

              .config-publication-content{
                margin: 1em 0 0 0;

                .dropdown{
                  .dropdown-button{
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}